<% include partials/header %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="jumbotron">
                    <h1 class="display-4 text-uppercase">Food</h1>
                    <p class="lead">This is the food page, make sure you check out all the enteries and vote for your favorite.</p>
                    <hr class="my-4">
                    <p>If you want to share your talent with us, show us your work!</p>
                    <p class="lead">
                        <a class="btn btn-lg yellow" href="/photocon/food/new" role="button">Submit</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row text-center" style="display: flex; flex-wrap: wrap;">

                    <div class="col-lg-4 thumbnail">
                        <img src="https://images.unsplash.com/photo-1558981403-c5f9899a28bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>