html,
body,
header,
.view {
  height: 100%;
}

section {
  padding: 100px 0;
}

.navbar-brand {
  font-family: 'Kaushan Script';
  color: #fed136;
}

.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
    height: calc(100vh - 50px);
}

.carusel {
  max-height: 90vh;
}

.yellow {
  background: #fed136;
}

.rounded-circle {
  border: 7px solid rgba(0,0,0,.1);
}

.footer {
  letter-spacing: 2px;
}

/* NEW PAGE */

.new {
  height: calc(100vh - 170px);
}

.form-container {
  width: 40%;
  margin: 25px auto;
}